.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
<<<<<<< HEAD
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
=======
>>>>>>> 37137a73dd46edd2bbe27377bc2dd42a622365ac
    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }
    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}